@font-face {
  font-family: 'LilitaOne-Regular';
  src: url('./app/font/LilitaOne-Regular.woff');
}

@font-face {
  font-family: RobotoCondensed-Thin;
  src: url('./app/font/RobotoCondensed-Thin.woff');
}

@font-face {
  font-family: RobotoCondensed-Light;
  src: url('./app/font/RobotoCondensed-Light.woff');
}
