@mixin respond($breakpoint) {
  @if $breakpoint == xsmall {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == small {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == medium {
    @media (min-width: 812px) {
      @content;
    }
  }
  @if $breakpoint == large {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @if $breakpoint == xlarge {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @if $breakpoint == xxlarge {
    @media (min-width: 2400px) {
      @content;
    }
  }
}  


// Container
@mixin container {
  width: calc(100% - 32px);
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  @include respond(small) {
    width: calc(100% - 64px);
  }
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}


// Button Border
@mixin btn-border-drawing($color, $thickness: 1px, $startEdge: bottom, $direction: right) {
  position: relative;
  color: $color;

  &::after {
    content: "";
    position: absolute;
    #{$startEdge}: 0;
    #{$direction}: 0;
    left: if($direction == right, 0, auto);
    right: if($direction == left, 0, auto);
    top: if($startEdge == top, 0, auto);
    bottom: if($startEdge == bottom, 0, auto);
    width: 0%;
    height: $thickness;
    background: $color;
    transition: width .25s linear, background-color .25s linear;
  }

  &:hover::after {
    width: 100%;
    background: $colorOne; // hover color
  }
}
