@use '../base/globals' as *;

.animated-list-block {

  &__items {
    display: flex;
    height: 35rem;
    background-color: $colorOne;
  }

  &__item {
    flex: 1 1 0;   
    position: relative;
    min-width: 0;  
    min-height: 0;
    overflow: hidden;
    border-right: 4px solid $colorTwo;
    background-color: $colorOne;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.40);
    }

    &:hover:after {
      background-color: rgba(0,0,0,.16);
      transition: background-color .2s ease-in-out;
    }
  }

  &__heading {
    @include flex-center;
    position: relative;
    z-index: 2;
    height: 100%;
    font-size: 32px;
    line-height: 40px;

    span {
      display: block;
      transform: rotate(-90deg);
      white-space: nowrap;
    }
  }

  &__description {
    display: none;
    position: relative;
    z-index: 2;
    margin-top: 32px;

    span {
      display: block;
      width: 80%;
      margin: auto;
    }
  }

  &__link {
    display: block;
    position: relative;
    width: fit-content;
    margin: 32px auto 0;
    color: $colorTwo;
    transition: all .2s ease-in-out;

    &:after {
      content: '\f061';
      position: absolute;
      right: -20px;
      font-family: fontawesome;
    }

    &:hover:after {
      right: -32px;
      transition: all .2s ease-in-out;
    }
  }
}

// Animation {
.animated-list-block__item.item-clicked {
  flex: 10;
  margin: auto;
  padding: 0 72px;
  background-image: unset !important;
  transition: all .3s ease-in-out;

  &:after {
    background-color: unset;
  }

  .animated-list-block__heading {
    height: fit-content;

    span {
      border-bottom: 2px solid $colorTwo;
      transform: rotate(0deg);
      transition: all .22s ease-in-out;
    }
  }

  .animated-list-block__description {
    display: block;
  }
}