@use '../base/globals' as *;

.credentials-block {
  @include container;

  &__wrapper {
    background: unset;
  }

  &__stats {
    width: fit-content;
    margin: 40px auto 80px;
  }

  &__stat {
    font-size: clamp(32px, 10vw, 12vw);
    line-height: 1;
    font-family: $font-secondary;
    text-transform: uppercase;
    color: $colorTwo;
  }

   &__stat-description {
    margin-top: 8px;
    margin-right: 2vw;
    font-size: clamp(18px, 10vw, 4vw);
    line-height: 1;
    color: $white;
    font-family: $font-tertiary;
    text-align: right;
    opacity: 0;
    transition: opacity 900ms ease;

    @include respond-up(medium){
      font-size: 28px;
    }

    &.stat-is-visible {
      opacity: 1;
    }
  }

   &__credentials {
    @include flex-between;
    flex-wrap: wrap;
  }

  &__credential {
    flex: 1 50%;
    max-width: calc(50% - 16px);
    margin-bottom: 32px;

    @include respond-up(medium){
      max-width: calc(25% - 16px);
      margin-bottom: unset;
    }
  }

  &__image {
    height: 80px;
    margin-bottom: 24px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__description {
    width: 180px;
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 22px;

    @include respond-up(medium){
      width: 240px;
      font-size: 18px;
      line-height: 28px;
    }
  }
}
