@use '../base/globals' as *;

.home-page-hero {
  @include container; 
  height: 100vh;

  @include respond(small){
    @include flex-center;
  }

  &__wrapper {
    height: 100vh;
  }

  &__hero {
    width: 50%;  
  }

  &__content {
    width: 50%;
  }

  &__heading {
    max-width: 960px;
    font-size: 96px;
    line-height: 104px;
  }

  &__subheading {
    font-size: 44px;
    line-height: 54px;
  }

  &__cta {
    margin-top: 40px;
  }

}


.home-page-hero__heading .line { display:block; }
.home-page-hero__heading { overflow-wrap:anywhere; hyphens:auto; }
