@use '../base/globals' as *;

.media-block {

  &__wrapper {
    
  }

  &__background-wrapper {
    
  }

  &__background {
  

   
  }
   
  &__content {
    @include container;
    position: relative; 
    z-index: 2; 
    color: $white;
    transform: translateZ(.25px) scale(.75);
    transform-origin: 50% 100%;

 
  }

  &__subheading {
    margin-bottom: 40px;
    font-family: $font-secondary;
    font-size: 32px;
    line-height: 40px;
  }

  &__heading {
    max-width: 800px;
    font-family: $font-secondary;
    font-size: 120px;
    line-height: 104px;
  }

  &__cta {
    margin-top: 64px;
  }
}
