@use '../base/globals' as *;

.one-column-block {
  @include container;

  &.content-width--medium {
    max-width: 1200px;
  }

  &.content-width--large {
    max-width: 960px;

    .one-column-block__heading {
      text-align: center;
    }
  }

  &__wrapper {
    background: unset;
  }

  &__heading {
    text-transform: uppercase;
    font-family: $font-secondary;
    color: $colorTwo;
  }

  &__description {
    font-size: 16px;
    line-height: 28px;
    color: $white;
  }

  li {
    margin-left: 16px;
    list-style-type: disc;
    font-size: 18px;
  }

  .primary-button {
    min-width: 200px;
    margin: 48px auto 0;
  }

}