@use '../base/globals' as *;

.reviews-block-text {
  position: relative;
  max-width: 100%;
  margin-bottom: 24px;

  &__heading {
    width: 100%;
    text-align: center;
    font-size: 8vw;
    color: rgba(255,255,255,0.2);
    white-space: nowrap;
  }

  &__subheading {
    position: absolute;
    bottom: -8px;
    text-align: center;
    width: 100%;
    color: $colorTwo;
    font-size: 26px;
    font-family: $font-tertiary;

     @include respond-up(medium){
      bottom: 8px;
      font-size: 72px;
    }
  }
}

.reviews-block {
  @include container;
  position: relative;
  min-height: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__wrapper {
    margin: auto;
    padding-bottom: 216px;
    background: unset;
  }

  &__slides {
   position: absolute;
   bottom: -200px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    padding: 24px;
    background: $white;
    border-radius: 24px;

    @include respond-up(medium){
      padding: 48px;
    }
  }

  &__stars { 
    margin-bottom: 32px; 
  }

  &__quote {
    font-size: 20px;
    line-height: 32px;
    color: $black;
  }

  &__author {
    margin-top: auto;
    padding-top: 32px;
    color: $black;
  }

  .slick-list {
    position: static;
    width: 80%;
    margin: 0 auto;
  }

  .slick-track {
    display: flex !important;
    align-items: stretch;
  }

  .slick-slide {
    display: flex !important;
    flex-direction: column;
    height: auto !important;
    min-height: 460px;
    margin: 0 16px;
  }

  .slick-slide > div {
    flex: 1;              
    display: flex;
  }

  .slick-arrow {
    position: absolute;
    bottom: -72px;
    left: 36%;
    border: none;
    font-size: 0;
    background: none;

    @include respond-up(medium){
      left: 40%;
    }

    @include respond-up(large){
      left: 46%;
    }

    &:after {
      content: '\f137';
      font-size: 40px;
      font-family: fontawesome;
      color: $white;
    }
  }

  .slick-next {
    right: 36%;
    left: auto;

    @include respond-up(medium){
      right: 40%;
    }

    @include respond-up(large){
      right: 46%;
    }


    &:after { content: '\f138'; }
  }
}
