@use '../base/globals' as *;

.two-column-block {
    @include container;

    @include respond(large){
        @include flex-between;
    }

    &__wrapper {
        background: unset;
    }

    &.column-alignment--top {
        align-items: flex-start;

        .column {
            align-items: flex-start;  
        }

        .column__content {
            max-width: unset;
        }
    }

    .column {
        @include flex-center;
        flex-direction: column;

        @include respond(large){
            width: calc(50% - 32px);
        } 

        &__content {
            max-width: 560px;
            margin: auto;
        }

        &__image {
            width: 100%;
            height: 544px;

            + .column__content {
                margin-top: 32px;
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
            }
        }

        &__heading {
            margin: 16px 0;
            color: $colorTwo;
        }

        &__description {
            color: $white;

            a, a:hover {
                color: $colorTwo;
            }
        }

        &:first-of-type {
            margin-bottom: 40px;

            @include respond(large){
                margin-bottom: unset;
            }
        }
    }

    .primary-button {
        margin-top: $spacer;
    }

    li {
      margin-top: 16px;
      list-style-type: disc;
    }
}