@use '../base/globals' as *;

// Animated Mouse
/* Sparkle Trail */
// #trail-container {
//   position: fixed;
//   top: 0;
//   left: 0;
//   pointer-events: none;
//   z-index: 9999;
// }
  
// .sparkle {
//   position: absolute;
//   width: 12px;
//   height: 12px;
//   background: radial-gradient(circle, rgba(255, 255, 255, 0.8), transparent 70%);
//   box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.5);
//   animation: sparkle-fade 0.8s ease-out forwards;
//   transform: rotate(45deg);
// }

// @keyframes sparkle-fade {
//   0% {
//     opacity: 1;
//     transform: scale(1) rotate(45deg);
//   }
//   100% {
//     opacity: 0;
//     transform: scale(2) rotate(75deg);
//   }
// }

// /* Star Cursor */
// #custom-star-cursor {
//   position: fixed;
//   width: 50px;
//   height: 50px;
//   pointer-events: none;
//   z-index: 10000;
//   background-size: contain;
//   background-repeat: no-repeat;
//   transform: translate(-50%, -50%);
// }

// body.mouse-trail-hidden {
//   #trail-container, #custom-star-cursor {
//     display: none !important;
//   }
// }


// Vertical
.vertical-slide-yes {
  opacity: 0 !important;
  transform: translateY(40px) scale(1);
  transition: transform 1s ease, opacity 1s ease;
}

.vertical-slide-yes.is-visible {
  opacity: 1 !important;
  transform: translateY(0) scale(1);
}


// Horizontal
  .horizontal-slide-yes { 
    transition: all 1.2s cubic-bezier(.03,.6,.33,.96);
  
    &.from-left {
      margin-left: -100%;
    }
  
    &.from-right {
      margin-right: -100%;
    }
  }
  
  .horizontal-slide-yes.is-visible {
  
   &.from-left  {
      margin-left: 0;
    }
  
    &.from-right  {
      margin-right: 0;
    }
  }

  // Column Scrolling Speeds
    .slow-column-scroll,
    .fast-column-scroll {
      transition: transform 0.2s ease-out;
      will-change: transform;
    }
