@use '../base/globals' as *;
@use '../base/mixins' as *;



.primary-button {
    @include btn-border-drawing($colorThree, $colorFour, 1px, top, left);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 240px;
    height: 48px;
    padding: 0 24px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    color: $white;
    font-family: $font-secondary;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .05rem;
    background: $colorThree;
    cursor: pointer;
    transition: text-shadow 0.3s ease, color 0.3s ease;

    &:hover {
        color: $colorFour;
        background: $colorThree;
        transition: color .2s;
    }
}


// Read more buttons
.read-more {
    display: flex !important;
    align-items: center;
    margin-top: $spacer;
    text-transform: uppercase;

    &:hover {
        display: flex !important;
        align-items: center;
        margin-top: $spacer;
        text-transform: uppercase;
    }

    &:before, &:after {
        content: '\f068';
        margin-right: 8px;
        font-family: fontawesome;
        color: inherit;
    }
}
