@use '../base/globals' as *;

// Contact Form
.site-footer-form {
  form {
      width: 88%;
      margin: auto;

      @include respond-up(medium){
        width: 64%;
      }

      input:not(.wpcf7-submit), textarea {
        width: 100% !important;
        margin: 0 0 20px;
        height: 80px;
        padding: 1rem;
        border: 1px solid $black;
        color: $black;
        font-size: 1rem;
        font-family: $font-primary !important;
        background: $white;
      }

      ::placeholder {
        color: $black;
        font-family: $font-primary !important;
      }

      textarea[name="your-message"] {
        height: 7.5em; 
        resize: vertical; 
      }

      .input.wpcf7-submit {
        width: 100% !important;
      }

      p {
        margin: unset;
      }
    }

  .form-row {
    > p {
    @include flex-between;

      > span {
        display: block;
        width: calc(50% - 8px);
      }
    }
  }
}

// Search Form
.searchform {
  input:not(#searchsubmit){
    z-index: 2;
    width: 400px;
    max-width: 100%;
    height: 46px;
    border: unset;
  }

  #searchsubmit {
    z-index: 2;
  }

  > div {
    display: flex;
    align-items: center;
    margin-top: 56px;
  }
}