.with_frm_style input[type=text],
.with_frm_style input[type=password],
.with_frm_style input[type=email],
.with_frm_style input[type=number],
.with_frm_style input[type=url],
.with_frm_style input[type=tel],
.with_frm_style input[type=file],
.with_frm_style input[type=search],
.with_frm_style select,
.with_frm_style .frm-card-element.StripeElement {
	border: 1px solid $white !important;
	background: $black !important;
	border-radius: 0;
	padding: 24px 12px;

	::placeholder {
			color: $white;
		}
}

.with_frm_style textarea {
	border: 1px solid $white !important;
	background: $black !important;
	border-radius: 0;
	padding: 12px;
}

.frm_style_formidable-style.with_frm_style .form-field {
	color: $white;
}

form a, form a:hover {
	color: $colorTwo;
}

#frm_field_7_container {
	font-size: 12px;
}

// Form responses
div.wpforms-container-full .wpforms-confirmation-container-full,
div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
	background: $colorTwo;
	border: 1px solid $colorTwo;
	color: $white;
}